<!DOCTYPE html>
<html lang="en">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
	<title>Jeopardy</title>
	<!-- CSS  -->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
</head>

<body class=teal>
	<nav class="center waves-effect waves-light teal" role="navigation">
		<div class="nav-wrapper container">
			<a id="logo-container" href="/" class="brand-logo center">This...Is...Jeopardy!</a>
		</div>
	</nav>
		<div class="container">
			<h3 class="center white-text">Hello <%=cookies[:username]%>!</h3>
			<h5 class="center white-text">Please choose a category.</h5>
			<br>
			<div class="row">
				<div class="col s3 offset-s3">
					<form  action="/question" method="post">
						<button class="btn waves-effect waves-light center btn-large" type="submit" name="action">Quick Game
	  					</button>
	  				</form>
	  				<h6 class="white-text">Good for testing your knowledge.</h6>
				</div>
				<div class="col s3 offset-s1">
					<form  action="/party" method="post">
					<button class="btn waves-effect waves-light center btn-large disabled" type="submit" name="action">Party Game
  					</button>
  					</form>
	  				<h6 class="white-text">Good for playing with friends. <br>Currently under construction.</h6>
				</div>
			</div>
		</div>
	
		<footer>
			<div class="footer-copyright">
				<div class="container white-text center">
					<p>Email chrisasma103@gmail.com to report any bugs. This website is unaffiliated with Jeopardy!™. All rights to their respective
						owners.</p>
				</div>
			</div>
		</footer>


		<!--  Scripts-->
		<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
		<script src="js/materialize.js"></script>
		<script src="js/init.js"></script>
</body>

</html>