<!DOCTYPE html>
<html lang="en">

<head>
	
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
	<title>Jeopardy</title>
	<!-- CSS  -->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
</head>

<body class=teal>
	<nav class="center waves-effect waves-light teal" role="navigation">
		<div class="nav-wrapper container">
			<a id="logo-container" href="/" class="brand-logo center">This...Is...Jeopardy!</a>
		</div>
	</nav>
	<div class="section no-pad-bot" id="index-banner">
		<div class="container">
			<h5 class="header center white-text">Your score is: $<%=cookies[:personalscore].to_s%> <br>The question is worth $<%=cookies[:value]%></h5>
			<br>
			<h4 class="header center white-text">The category is: </h4>
			<h2 class="header center white-text"><%=@clue.category.title.upcase%></h2>
			<div class="row center">
				<h4 class="header col s12 white-text"><%=@clue.question%></h4>
				<div class="row">
					<form class="col s12 center" action="/answer" method="post">
						<div class="row">
							<span class="input-field col s12">
              <br><br><br><br>
              <input placeholder="What is..." name="guess" type="text" autocomplete="off" class="validate center white-text">
                            </span>
							<br><br>
							<br><br>
							<br>
							<button class="btn waves-effect waves-light" type="submit" value="question">Enter
                <i class="material-icons right">send</i>
              </button>
						</div>
					</form>
				</div>
				<br><br>
			</div>
		</div>
		<footer>
			<div class="footer-copyright">
				<div class="container white-text center">
					<p>Email chrisasma103@gmail.com to report any bugs. This website is unaffiliated with Jeopardy!™. All rights to their respective
						owners.</p>
				</div>
			</div>
		</footer>


		<!--  Scripts-->
		<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
		<script src="js/materialize.js"></script>
		<script src="js/init.js"></script>
</body>

</html>